:root {
  --blue: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --middle-white: #ececec;
  --light-grey: #f5f4fa;
  --middle-grey: #afb1b8;
  --hero-grey: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

.row {
  display: flex;
  margin: 0 -15px;
}
.col-2,
.col-3,
.col-4,
.col-12 {
  padding: 0 15px;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}

.col-12 {
  width: 100%;
}
.mb-20 {
  margin-bottom: 20px;
}

.ml-50 {
  margin-left: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-auto {
  margin-right: auto;
}

.mb-9 {
  margin-bottom: 9px;
}
.mb-60 {
  padding-bottom: 60px;
}
.link {
  color: #212121;
}
.link:hover,
.link:focus {
  color: var(--blue);
}

.grey {
  color: var(--grey);
  font-size: 14px;
  line-height: 1.71em;
}

/*----HEADER----*/

.header {
  border: 1px solid var(--middle-white);
}
.header-container {
  display: flex;
}
.header-nav-container {
  display: flex;
  align-items: center;
}
.header-logo {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  color: #212121;
  text-decoration: none;
  margin-right: 93px;
  padding: 25px 0;
}
.header-span-logo {
  color: var(--blue);
}
.header-list-nave {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-nave {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  padding: 32px 0;
}
.header-list-nave .nave {
  color: var(--blue);
}

.header-connect {
  margin-left: auto;
}

.header-mailto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.header-telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  margin-left: 40px;
}

/*-----HEROY-------*/

.hero-title {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero {
  text-align: center;
  background-color: var(--hero-grey);
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-title\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--white);
  background-color: var(--blue);
  min-width: 136px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

/*------PRIORITIES------*/

.priorities-enumeration-text {
  display: flex;
}
.priorities:not(:last-child) {
  margin-right: 30px;
}
.priorities-image {
  width: 270px;
  height: 120px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.priorities-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.74em;
  color: var(--grey);
  letter-spacing: 0.03em;
}

.priorities-caption-title {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/*-------engage-----*/

.engage-caption-title {
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 3%;
  margin-bottom: 50px;
  text-align: center;
}

.engage-photo {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}

/*-----TEAM-----*/

.team-card-specialist {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}

.team-specialist-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.team-specialist-name {
  font-size: 16px;
  line-height: 1.18em;
  color: var(--grey);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--white);
}
.team-social-icon {
  fill: var(--middle-grey);
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}
.team-social-item:last-child {
  margin-right: 0;
}
.shadow-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-br {
  border-radius: 0px 0px 4px 4px;
}
img {
  display: block;
  max-width: 100%;
}
.team-member {
  padding-top: 0;
  padding-bottom: 20px;
  text-align: center;
}
.bg-light-grey {
  background-color: var(--light-grey);
}
.bg-white {
  background-color: var(--white);
}

/*- ------FOOTER- ------*/
.studio {
  color: var(--white);
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  text-decoration: none;
}
.white {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71em;
  text-decoration: none;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.dark {
  background-color: var(--grey);
}
.dark-icon {
  fill: var(--white);
}
/*--------BUTTONS-------*/

.d-flex-justify-center {
  display: flex;
  justify-content: center;
}
.ml-8 {
  margin-left: 8px;
}
.button {
  margin-top: 94px;
  margin-bottom: 50px;
  padding: 6px 22px;

  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--light-grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
}
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--blue);
}
/*------SECTION-CARD------*/
.card-header {
  margin-bottom: 20px;
}
.card-hover:hover,
.card-hover:focus {
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16);
}
.card-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 4px;
}
.card-p {
  font-size: 16px;
  line-height: 1.875em;
  color: var(--grey);
  margin-bottom: 20px;
}
.card {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.card.card-md {
  border: none;
}
.card.card-md .card-header svg {
  width: 70px;
}
/*----SECTION-BRAND-LOGO------*/
.h4-title {
  font-style: 700;
  font-size: 36px;
  line-height: 1.16em;
  line-height: 100%;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.logo-md {
  border: 2px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin-bottom: 94px;
}
.logo-md:hover,
.logo-md:focus {
  border: 2px solid var(--blue);
}
.logo-hover {
  fill: #afb1b8;
}
.logo-hover:hover,
.logo-hover:focus {
  cursor: pointer;
  fill: var(--blue);
}
