:root {
  --blue: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --middle-white: #ececec;
  --light-grey: #f5f4fa;
  --middle-grey: #afb1b8;
  --hero-grey: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

.link {
  color: #212121;
}
.link:hover,
.link:focus {
  color: var(--blue);
}

/*----HEADER----*/

.header {
  border: 1px solid var(--middle-white);
}
.header-container {
  display: flex;
}
.header-nav-container {
  display: flex;
  align-items: center;
}
.header-logo {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  color: #212121;
  text-decoration: none;
  margin-right: 93px;
  padding: 25px 0;
}
.header-span-logo {
  color: var(--blue);
}
.header-list-nave {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-nave {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  padding: 32px 0;
}
.header-list-nave .nave {
  color: var(--blue);
}

.header-connect {
  margin-left: auto;
}

.header-mailto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.header-telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  margin-left: 40px;
}

/*-----HEROY-------*/

.hero-title {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero {
  text-align: center;
  background-color: var(--hero-grey);
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-title\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--white);
  background-color: var(--blue);
  min-width: 136px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

/*------PRIORITIES------*/

.priorities-enumeration-text {
  display: flex;
}
.priorities:not(:last-child) {
  margin-right: 30px;
}
.priorities-image {
  width: 270px;
  height: 120px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.priorities-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.74em;
  color: var(--grey);
  letter-spacing: 0.03em;
}

.priorities-caption-title {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/*-------ENGAGE-----*/

.engage-caption-title {
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 3%;
  margin-bottom: 50px;
  text-align: center;
}

.engage-photo {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}

/*-----TEAM-----*/

.section-team {
  background-color: var(--light-grey);
}
.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.team-card-specialist {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}

.team-specialist-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  padding-top: 30px;
  margin-bottom: 10px;
}
.team-specialist-name {
  font-size: 16px;
  line-height: 1.18em;
  color: var(--grey);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--white);
}
.team-social-icon {
  fill: var(--middle-grey);
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}
.team-social-item:last-child {
  margin-right: 0;
}

.team-member {
  padding-top: 0;
  padding-bottom: 20px;
  text-align: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*----BRAND--------*/

.brand-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: Center;
  letter-spacing: 3%;
  margin-bottom: 50px;
}
.brand-logo-ticket {
  display: flex;
  justify-content: space-between;
}
.brand-logo-icon {
  border: 2px solid var(--middle-grey);
  border-radius: 4px;
}
.brand-logo-icon:hover,
.brand-logo-icon:focus {
  border: 2px solid var(--blue);
}
.brand-logo-hover {
  fill: var(--middle-grey);
}
.brand-logo-hover:hover,
.brand-logo-hover:focus {
  cursor: pointer;
  fill: var(--blue);
}

/*-----FOOTER------*/

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-adres {
  display: inline-block;
  margin-right: 70px;
}
.footer-social {
  display: inline-block;
}
.footer-social-gyu {
}
.footer-studio {
  color: var(--white);
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
}
.footer-logo {
  color: var(--blue);
}
.footer-address-all {
  padding-top: 20px;
}
.footer-address {
  font-size: 14px;
  line-height: calc(24 / 14);
  line-height: 146%;
  letter-spacing: 3%;
  font-style: normal;
  color: var(--white);
  padding-bottom: 9px;
}
.footer-mailto {
  color: var(--grey);
  font-size: 14px;
  line-height: calc(24 / 14);
  font-style: normal;
  padding-bottom: 9px;
}

.footer-telephone {
  color: var(--grey);
  font-size: 14px;
  line-height: calc(24 / 14);
  font-style: normal;
}
.footer-title {
  color: var(--white);
  font-size: 14px;
  line-height: calc(16 / 14);
  text-decoration: none;
}
.footer-social-item {
}
.footer-social-link {
  background-color: var(--grey);
}
.footer-dark-icon {
  fill: var(--white);
}
.dark {
  background-color: var(--grey);
}
.dark-icon {
  fill: var(--white);
}
/*--------BUTTONS-------*/

.d-flex-justify-center {
  display: flex;
  justify-content: center;
}
.ml-8 {
  margin-left: 8px;
}
.button {
  margin-top: 94px;
  margin-bottom: 50px;
  padding: 6px 22px;

  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--light-grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
}
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--blue);
}
/*------SECTION-CARD------*/
.card-header {
  margin-bottom: 20px;
}
.card-hover:hover,
.card-hover:focus {
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16);
}
.card-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 4px;
}
.card-p {
  font-size: 16px;
  line-height: 1.875em;
  color: var(--grey);
  margin-bottom: 20px;
}
.card {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.card.card-md {
  border: none;
}
.card.card-md .card-header svg {
  width: 70px;
}
